<backdrop>
  <div class="commissioning-card">
    <div class="card-header">
      <div class="card-header-content">
        <span>EVO15R2</span>
        <h2 class="header">Commissioning</h2>
      </div>
  
      <div class="btn-wrapper">
        <button class="close" (click)="onClose()">
          <img src="../../../../../assets/Gruppe 4276@2x.png" alt="" />
        </button>
      </div>
    </div>
  
    <div class="card-body">
      <h2 class="card-body-header">Control</h2>
  
      <div class="commissioning-options">
  
        <!--   -->
  
        <div class="container">
          <p class="commissioning-options-tags">Setpoint Source</p>
  
          <div class="commissioning-options-wrapper">
            <span class="commissioning-detail">Analog</span>
            <button class="commissioning-btn">
              <img
                class="Pdaf-1907"
                src="../../../../assets/Pfad 70@2x.png"
                alt="Pfad_70.png"
              />
            </button>
          </div>
        </div>
  
        <!--  -->
  
        <div class="container">
          <p class="commissioning-options-tags">Setpoint Mode</p>
  
          <div class="commissioning-options-wrapper">
            <span class="commissioning-detail">0... 10V</span>
            <button class="commissioning-btn">
              <img
                class="Pdaf-1907"
                src="../../../../assets/Pfad 70@2x.png"
                alt="Pfad_70.png"
              />
            </button>
          </div>
        </div>
  
      </div>
    </div>
  
    <div class="card-footer">
      <button class="btn">Write</button>
    </div>
  </div>
</backdrop>

