<div class="Pfad-1701">
  <div class="container">
    <h2 class="header">Eingabe übernehmen</h2>

    <button class="cancel btn">
      <img src="../../../../../assets/Gruppe 4276@2x.png" alt="" />
    </button>
  </div>

  <div>
    <div>
      <h2 class="content-header">Possible Cause</h2>
      <p class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div>
      <h2 class="content-header">Possible Solution</h2>
      <p class="content">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
