<div class="Rechteck-1645"></div>
<div class="wrapper">
  <div class="Pfad-1557">
    <div>
      <a href="" class="Belimo_Logo_big_1_RGB_container">
        <img 
        src=".././assets/Belimo_Logo_big_1_RGB@2x.jpg" 
        alt="Belimo_Logo_big"
        class="Belimo_Logo_big_1_RGB"
      /></a>
      <a href="" class="Active-Section">Active Section</a>
      <a href="" class="Inactive-Section">Inactive-Section</a>
      <a href="" class="Inactive-Section">Inactive-Section</a>
    </div>
    <div class="Pfad-14">
      <img src="../assets/User@2x.png" alt="user.png" class="User" />
    </div>
  </div>
</div>
<home></home>


<!-- <forward-button></forward-button>
<backward-button></backward-button>
<confirm-dialog></confirm-dialog>
<confirm-dialog-destructive></confirm-dialog-destructive>
<process-dialog></process-dialog>
<neutral-system-information-dialog></neutral-system-information-dialog>
<warning-dialog></warning-dialog>
<error-failure-dialog></error-failure-dialog> -->


